.admin-button{
    background-color: #be9fd1;
    padding: 2.5vh 0 2.5vh 0;
    border-radius: 25px;
    width:100%;
    font-size: 1rem;
    margin:2vh 0;
}

#admin-title, #add-station {
    margin: 2vh 0 2vh 20vw;
}

#add-station{
    padding: 2vh 2.5vw;
    background-color: #be9fd1;
    border-radius: 25px;
}

#admin-list{
    border-collapse: collapse;
    width: 60%;
    margin: auto;
    text-align: left;
}

#admin-list td, #admin-list th {
    border: 1px solid black;
    padding: 8px;
}

#admin-list th  {
    background-color: #ABC4B0;
}

/* Login Page */
.login-container {
    margin: 10vh auto;
    width: 60%;
    background-color: #abc4b0;
    border: 2px solid #324938;
    border-radius: 10px;
    padding: 20px;
}

.login-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.login-input {
    margin-bottom: 15px;
}

.login-input label {
    font-size: 1.2rem;
    margin-bottom: 5px;
    display: block;
}

.login-input input[type="text"],
.login-input input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.1rem;
}

.login-submit input[type="submit"] {
    background-color: #be9fd1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-submit input[type="submit"]:hover {
    background-color: #9b7fb5;
}

