@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

body {
    margin: 0;
}

h1{
    font-size:2rem;
}

/*NAVIGATIE*/
nav{
    background-color: #324938;
    color:white;
    margin:0;
    padding:0 5vw;
    display:flex;
    justify-content: space-between;
    align-items:center;
}

#nav-link{
    gap:4vw;
    display: flex;
}

nav a{
    color: white;
    padding: 3vh 1vw;
    border-radius: 15px;
    transition: ease-in 0.3s;
    font-size:1.2rem;
}

nav a:hover{
    color:black;
    background-color: lightgray;
}

#logo-image {
    width: 125px;
    padding: 5px
}

/*HOME OVERVIEWS*/
#home-overview {
    display:flex;
    justify-content: center;
    gap:6vw;
    flex:1 0 0;
}

.overview-block{
    margin-top: 7vh;
    padding: 0 3vh;
    border: 2px solid #324938;
    width: 40vw;
    min-height: 60vh;
    background-color: #abc4b0;
}

.startStationButton {
    background-color: #be9fd1;
    padding: 2.5vh 0 2.5vh 0;
    border-radius: 25px;
    width: 40%;
    font-size: 1rem;
    margin-top:2vh;
}

/*HOME STATION FORM*/
.form-flex {
    margin: 3vh 0;
}

.lofa{
    background-color: #abc4b0;
    display: flex;
    flex-direction: column;
}

input[type=submit], #form-submit{
    background-color: #be9fd1;
    padding: 2.5vh 0 2.5vh 0;
    border-radius: 25px;
    width:100%;
    font-size: 1rem;
    margin-top:2vh;
}

#beginbestemming, #eindbestemming{
    font-size:1.2rem;
}

#dropdown {
    width: 100%;
    height: 5vh;
    border-radius: 25px;
    margin-top: 1vh;
}

/*COMMENT PAGINA*/
#comment-form {
    margin: 0 20%;
}

.comment-section {
    margin: 5vh 0;
}

.comment-label {
    font-size: 1.1rem;
}

.dropdown {
    width: 100%;
    height: 5vh;
    border-radius: 25px;
    margin-top: 1vh;
}

#comment-submit {
    width: 100%;
}

.error {
    color: red;
}

.modal {
    border-radius: 10px;
    font-size: 1.2rem;
}

.stationCommenBox {
    display: flex;
    flex-direction: column;
}